:root {
    --my-padding: 0.4rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    color: #000000;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 0.5fr;
    grid-template-rows: 1fr 1fr 1fr 0.5fr;
    grid-template-areas:
    "nav nav nav nav"
    "content1 content2 content3 sidebar"
    "main main main sidebar"
    "footer footer footer sidebar";
    text-align: center;
    text-transform: uppercase;
    gap: 10px;
}

nav {
    background-color: cadetblue;
    grid-area: nav;
    padding :var(--my-padding)
}

.nav-container {
    display: grid;
    height: 100%;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    align-items: center;
}

.content1 {
    display: grid;
    align-items: center;
    background-color: rgb(253, 136, 115);
    grid-area: content1;
    padding: var(--my-padding);
}

.content2 {
    display: grid;
    align-items: center;
    background-color: rebeccapurple;
    grid-area: content2;
    padding: var(--my-padding);
}

.content3 {
    display: grid;
    align-items: center;
    background-color: rgb(80, 12, 12);
    grid-area: content3;
    padding: var(--my-padding);
}

.sidebar {
    display: grid;
    align-items: center;
    background-color: rgb(243, 118, 28);
    grid-area: sidebar;
    padding: var(--my-padding);
}

main {
    display: grid;
    align-items: center;
    background-color: rgb(0, 134, 0);
    grid-area: main;
    padding: var(--my-padding);
}

footer {
    display: grid;
    align-items: center;
    background-color: cornflowerblue;
    grid-area: footer;
    padding: var(--my-padding);
}

@media (max-width: 1024px) {
    .nav-container {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }
    
    .container {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 0.5fr;
        grid-template-areas: 
        "nav nav"
        "main main"
        "content3 content2"
        "content1 content1"
        "footer footer";
    }
    
    .sidebar{
        display: none;
    }
}

@media (max-width: 480px) {
   .sidebar{
    display: grid;
   }

   .content3{
    display: none;
   }

   .nav-container {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
}
   
    .container {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 2fr 1fr 1fr 1fr 0.5fr;
        grid-template-areas: 
        "nav"
        "main"
        "content1"
        "content2"
        "sidebar"
        "footer"
    }
}
